<div class="container">
	<div class="row">
		<nav class="navbar navbar-expand-lg navbar-dark my-navbar">
		  
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse my-navbar-collapse" id="navbarNav">
		  	<div class="my-navbar-collapse-links">
		  		<ul class="navbar-nav">
		  		  <li class="nav-item active">
		  		    <a class="nav-link" href="#">Главная</a>
		  		  </li>
		  		  <li class="nav-item">
		  		    <a class="nav-link" href="#">о театре</a>
		  		  </li>
		  		  <li class="nav-item">
		  		    <a class="nav-link" href="#">Наши постановки</a>
		  		  </li>
		  		  <li class="nav-item">
		  		    <a class="nav-link" href="#">партнеры театра</a>
		  		  </li>
		  		   <li class="nav-item">
		  		    <a class="nav-link" href="#">контакты</a>
		  		  </li>
		  		</ul>
		  	</div>
		    <div class="my-navbar-collapse-phone">+7 495 123-45-67</div>
		  </div>
		</nav>
	</div>
</div>
